.columns {
  margin: 0 !important;
}

.column {
  padding: 0;
}

.button {
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.attack a {
  font-size: 2rem !important;
  font-weight: bold;
  font-family: 'Sorts Mill Goudy', serif;
}

.health a {
  font-size: 2rem !important;
  font-family: 'Sorts Mill Goudy', serif;
}

.health-button {
  cursor: default;
}

@media (orientation: landscape), (min-width: 482px) {

  a {
    position: absolute;
  }

  .name {
    order: 1;
    min-height: 10%;
    max-height: 10%;
    position: relative;
  }

  .attack {
    order: 3;
    min-height: 60%;
    position: relative;
  }

  .health {
    order: 2;
    min-height: 30%;
    position: relative;
  }

  #reset {
    height: 10vh;
    max-width: 20%;
  }

  .player {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

@media (orientation: portrait) {
  /* one side of the phone needs to be upside down, so both players can read clearly */
  .upsidedown {
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }

  .name {
    height: 5vh;
  }

  .attack {
    height: 25vh;
  }

  .health {
    height: 15vh;
  }

  #reset {
    height: 10vh;
    min-width: 100vw;
  }

  .columns {
    max-height: 100vh;
  }
}